* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button-div {
    display: flex;
    justify-content: center;
    margin: 20px 20px;
}

.centering-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 602px;
    height: 602px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    /* margin-left: 1px; */
}

.newDivs {
    width: 37.5px;
    height: 37.5px;
    border: 1px solid black;
    
}

.newDivs100 {
    width: 37.5px;
    height: 37.5px;
    border: 1px solid black;
  
}
